<div class="layout">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <aside class="aside">
                    <cv-intro></cv-intro>
                    <div class="menu-container">
                        <cv-menu></cv-menu>
                    </div>
                </aside>
            </div>
            <div class="col-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<cv-footer></cv-footer>