<div class="element-inner-container">
    <cv-card [title]="data.position">
        <div class="row">
            <div class="col-2">
                <a href="{{data.companyUrl}}" target="_blank">
                    <img class="logo" src="/assets/images/logo/{{data.companyKey}}.png" matTooltip="{{data.company}}" />
                </a>
            </div>
            <div class="col-10">
                <p class="description">{{data.description}}</p>
                <ul class="technos" *ngIf="data.technologies.length > 0">
                    <li *ngFor="let t of data.technologies">
                        <img src="/assets/images/techno/{{t}}.png" />
                    </li>
                </ul>
            </div>
        </div>
    </cv-card>
    <div class="countries" *ngIf="data.countries ">
        <cv-countries [countries]="data.countries"></cv-countries>
    </div>
</div>